/* Archive/Blog Styling
----------------------------------------------------------------------------- */

body.archive,
body.blog,
body.search {
    .entry {
        margin-bottom: $spacer*2;
    }

    .archive-title {
        color: $white;
        margin-bottom: $spacer*2;
    }
}

.entry-image-link {
    display: inline-block;
    margin-bottom: $spacer;
}
