/* Site Footer
----------------------------------------------------------------------------- */
.site-footer {
    padding: $spacer 0;
    p {
        margin-bottom: 0;
    }
    ul {
        @include list-unstyled;
    }
    a {
        color: inherit;
    }
    &.text-muted {
        a {
            &:hover {
                color: $primary;
            }
        }
    }
    &.bg-primary {
        a {
            &:hover {
                color: $primary;
            }
        }
    }
}
