/* Footer Widgets
----------------------------------------------------------------------------- */
.footer-widgets {
    border-bottom: 1px solid $hr-border-color;
    padding: $spacer*4 0;
    ul, ol {
        @include list-unstyled;
        li {
            margin-bottom: $spacer;
        }
    }
    .widgettitle {
        margin-bottom: $spacer/2;
    }
    &.text-muted {
        .widgettitle {
        }
        a {
            &:hover {
            }
        }
    }
    &.bg-primary {
        a {
            &:hover {
                color: #fff;
            }
        }
    }

    .widget_recent_entries {
        li a:hover {
            color: black;
        }
    }

    .menu-item ul.sub-menu {
        padding-left: 1rem;
        margin-top: .5rem;
    }
}
