/* Site Header
----------------------------------------------------------------------------- */
.site-header {
    // padding: $spacer 0;
    .site-title {
        @extend .h1;
    }
    .site-description {
        margin-bottom: 0;
    }
}

.site-inner {
    background: transparentize($primary, .1);
}

$angleR: 175deg;
$angleL: -5deg;

.band {
    min-height: 12rem;
    padding-bottom: 2.5rem;

    &.rtl {
        background-image: linear-gradient($angleR, transparent 50%, $primary 50%);
        margin-top: -1px;

        &.band-primary-alpha {
            background-image: linear-gradient($angleR, transparent 50%, transparentize($primary, .1) 50%);
        }

        &.band-secondary {
            background-image: linear-gradient($angleR, $secondary 50%, transparentize($primary, .1) 50%);
        }

        &.band-secondary-only {
            background-image: linear-gradient($angleR, transparentize($secondary, .1) 50%, transparent 50%);
        }
    }

    &.ltr {
        background-image: linear-gradient($angleL, transparent 50%, $primary 50%);
        margin-bottom: -1px;

        &.band-primary-alpha {
            background-image: linear-gradient($angleL, transparent 50%, transparentize($primary, .1) 50%);
        }

        &.band-secondary {
            background-image: linear-gradient($angleL, $secondary 50%, transparentize($primary, .1) 50%);
        }

        &.band-secondary-only {
            background-image: linear-gradient($angleL, transparentize($secondary, .1) 50%, transparent 50%);
        }

        &.band-secondary-only-flat {
            background-image: linear-gradient($angleL, $secondary 50%, transparent 50%);
        }

        &.band-flat {
            background-image: linear-gradient($angleL, $secondary 50%, transparentize($primary, .1) 50%);
        }

    }
}

.bg-secondary-alpha {
    background-color: transparentize($secondary, .1) !important;
}

.top-left-icon {
    position: absolute;
    top: 10rem;
    left: 22rem;

    img {
        height: 4rem;
    }

    span {
        margin-left: 1rem;
        font-size: 1.3rem;
        color: white
    }
}

@media all and (max-width: 768px) {
    .top-left-icon {
        position: absolute;
        height: 3rem;
        top: 1rem;
        left: auto;
        right: 2rem;
    }
}
