.navbar-brand {
  font-weight: 300;
  text-transform: uppercase;
  display: none;
}

.navbar-white > a {
}

.hero-section {
  width: 100%;
  overflow: hidden;
}

img.mw-adapt {
  max-width: 15rem;
}

$primary-alpha: transparentize($primary, .2);

body {
  background-color: $primary-alpha;
  background-image: linear-gradient($primary-alpha, $primary-alpha), url(https://images.unsplash.com/photo-1481278403982-f2d9f387cdcc);
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, bottom;
}

.hero {
  width: 100%;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  position: relative;

  &.no-main {
    height: 0rem;

    h1 {
      top: 10rem;
    }

    img {
      top: 7rem;
    }
  }

  h1 {
    font-size: 3rem;
    position: absolute;
    top: 11rem;
    left: 14%;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-transform: uppercase;
  }

  h4 {
    position: absolute;
    top: 15.5rem;
    left: 17%;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-weight: 300;
    font-size: 1.5em;
    text-transform: uppercase;
  }

  img {
    height: 10rem;
    z-index: 1;
    position: absolute;
    display: block;
    left: 25%;
    top: 10rem;
  }

  .bar{
    width: 100%;
    height: 32em;
    /* background: -moz-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
    background: -webkit-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
    background: -ms-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%); */
    background: #f6ffed;
    opacity: 0.7;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    -ms-transform-origin: 100% 0%;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
     -webkit-animation: roll-out 1.2s ease-out ;
    -moz-animation: roll-out 1.2s ease-out ;
      animation: roll-out 1.2s ease-out ;
  }
}

@media all and (max-width: 768px) {
  .navbar-brand {
    font-size: 10vw;
  }

  .display-4 {
    font-size: 8vw;
  }

  h2 {
    font-size: 7vw;
  }

  .hero {
    height: 120vw;

    &.no-main {
      img {
        top: 2vw;
      }

      h1 {
        top: 50vw;
      }
    }

    h1  {
      font-size: 8vw;
      top: 70vw;
      left: 0;
    }

    h4 {
      font-size: 4vw;
      top: 78vw;
      left: 0%;
    }

    img {
      margin-left: -5rem;
      left: 50%;
      top: 20vw;
    }

    .bar{
      height: 50vw;
    }

    .cta {
      top: 32vw;
    }

  }
}

.mw-50 {
  max-width: 50%;
  margin: auto;
}
