.map-wrapper {
  height: 350px;
  position: relative;
  overflow: hidden;
}

#contact-me-widget {
  text-align: center;

  input.limit-width, textarea.limit-width {
    max-width: 250px;
    margin: auto;
  }

  textarea.limit-width {
    height: 100px;
  }
}

.align-icon svg.feather {
  position: relative;
  top: 5px;
}

.search-form svg {
  vertical-align: middle;
}

.border-sm-disable {
  @include media-breakpoint-down(sm) {
    border-width: 0 !important;
  }
}

.border-xs-disable {
   @include media-breakpoint-down(xs) {
    border-width: 0 !important;
  }
}
