/* Sidebar
----------------------------------------------------------------------------- */
.sidebar {
    .widget {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: $card-bg;
        background-clip: border-box;
        border: none;
        @include border-radius($card-border-radius);
        margin-bottom: $spacer*2;
        .widget-wrap {
            flex: 1 1 auto;
            padding: $card-spacer-y $card-spacer-x;
        }
    }
    .widgettitle {
        padding: $card-spacer-y $card-spacer-x;
        margin-bottom: 0;
        background-color: $card-cap-bg;
        border-bottom: $card-border-width solid $card-border-color;
    }
    .widget_search {
        @extend .p-1;

        .form.search-form > .form-group {
            margin-bottom: 0;
        }
    }
    .widget_recent_entries, .widget_recent_comments, .widget_archive, .widget_categories, .widget_meta {
        .widget-wrap {
            padding: 0;
        }
        ul {
            @include list-unstyled;
            display: flex;
            flex-direction: column;
            padding-left: 0;
            margin-bottom: 0;
            li {
                position: relative;
                display: block;
                padding: $list-group-item-padding-y $list-group-item-padding-x;
                margin-bottom: -$list-group-border-width;
                background-color: $list-group-bg;
                border: $list-group-border-width solid $list-group-border-color;
                border-left: none;
                border-right: none;
                &:first-child {
                    // @include border-top-radius($list-group-border-radius);
                    border-top: none;
                }

                a {
                    color: $primary;
                }

                &:last-child {
                    margin-bottom: 0;
                    @include border-bottom-radius($list-group-border-radius);
                    border-bottom: none;
                }
                @include hover-focus {
                    text-decoration: none;
                    a {
                        text-decoration: none;
                        color: $primary;
                    }
                }
            }
        }
    }
}
