/* ## Single Post/Page
----------------------------------------------------------------------------- */
.entry {
    background: white;
    @extend .rounded;
    @extend .px-3;
    @extend .py-2;

    .entry-title-link {
        color: $primary;
    }

    h1.entry-title {
        color: $primary;
    }

    .entry-content a {
        color: $primary;
    }

    .entry-meta {
        @extend .text-muted;
    }
    .entry-footer {
        .entry-meta {
            margin-bottom: 0;
        }
    }
    .single & {
        margin-bottom: $spacer*2;
    }
}
