/* Site Inner
----------------------------------------------------------------------------- */
.site-inner {
    padding: $spacer 0;
}

.content {
    img {
        max-width: 100%;
    }
    .wp-caption {
        max-width: 100%;
    }
}
