$enable-flex: true;

$fa-font-path: "../../assets/fonts/fontawesome/webfonts";

@import "../../assets/fonts/flaticon/flaticon.css";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');


$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$blue-scout: #3A539B;
$green-scout:#1E824C;

$primary: $blue-scout;
$primary-alpha: transparentize($primary, .2);
$secondary: $green-scout;
$success: darken($secondary, 3);
$info: $purple;

$link-color: white;

$body-bg: transparentize($blue-scout, .8);

$font-family-base: 'Lato', sans-serif;

[class*=" fl-"]:before {
  font-size: 2rem !important;
}

.big-font:before {
  font-size: 4rem !important;
}

$card-cap-bg: $secondary;
$card-border-color: transparent;


$pagination-active-border-color: white;
$pagination-color: $primary;
$pagination-hover-color: lighten($primary, 0.2);
