	/*
  	Flaticon icon font: Flaticon
  	Creation date: 04/05/2018 08:05
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="fl-"]:before, [class*=" fl-"]:before,
[class^="fl-"]:after, [class*=" fl-"]:after {
  font-family: Flaticon;
  font-size: 2rem !important;
font-style: normal;
margin-left: 20px;
}

.fl-trees:before { content: "\f100"; }
.fl-torch:before { content: "\f101"; }
.fl-sign-post:before { content: "\f102"; }
.fl-boots:before { content: "\f103"; }
.fl-tent:before { content: "\f104"; }
.fl-scout:before { content: "\f105"; }
.fl-map:before { content: "\f106"; }
.fl-backpack:before { content: "\f107"; }
.fl-first-aid-kit:before { content: "\f108"; }
.fl-lamp:before { content: "\f109"; }
.fl-hill:before { content: "\f10a"; }
.fl-knife:before { content: "\f10b"; }
.fl-flag:before { content: "\f10c"; }
.fl-compass:before { content: "\f10d"; }
.fl-bonfire:before { content: "\f10e"; }
.fl-axe:before { content: "\f10f"; }
